:root {
  --spacer: 4px;
  --bg-color: #000;
  --color: #00ffa3;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  line-height: 1.5;
  font-family: 'Bruno Ace SC', cursive;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.container{
  width: 1296px;
  margin: 0 auto;
}
.bg-color{
  background-color: var(--bg-color);
}
.bg-color2{
  background:linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%) ;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.text-color{
  color: #fff;
}
.text-color2{
  color: #000;
}
.mr-1{
  margin-right: var(--spacer);
}
.mb-1{
  margin-bottom: var(--spacer);
}
.mr-4{
  margin-right: calc(var(--spacer)*4);
  /* 16px; */
}
.mb-4{
  margin-bottom: calc(var(--spacer)*4);
  /* 16px; */
}
.mr-5{
  margin-right: calc(var(--spacer)*5);
  /* 20px; */
}
.mr-6{
  margin-right: calc(var(--spacer)*6);
  /* 24px; */
}
.mb-6{
  margin-bottom: calc(var(--spacer)*6);
  /* 24px; */
}
.mb-7{
  margin-bottom: calc(var(--spacer)*7);
  /* 28px; */
}
.mb-8{
  margin-bottom: calc(var(--spacer)*8);
  /* 32px; */
}
.mb-9{
  margin-bottom: calc(var(--spacer)*9);
  /* 36px; */
}
.pt-18{
  padding-top: calc(var(--spacer)*18);
  /* 72px */
}
.pb-18{
  padding-bottom: calc(var(--spacer)*18);
  /* 72px */
}
.pt-10{
  padding-top: calc(var(--spacer)*10);
  /* 40px */
}
.pb-10{
  padding-bottom:calc(var(--spacer)*10);
  /* 40px */
}
.pt-3{
  padding-top: calc(var(--spacer)*3);
  /* 12px */
}
.pb-3{
  padding-bottom: calc(var(--spacer)*3);
  /* 12px */
}
.pl-6{
  padding-left: calc(var(--spacer)*6);
  /* 24px */
}
.pr-6{
  padding-right: calc(var(--spacer)*6);
  /* 24px */
}
.pt-40{
  padding-top: calc(var(--spacer)*40);
  /* 40px */
}
.pb-40{
  padding-bottom: calc(var(--spacer)*40);
  /* 40px */
}
.pt-4{
  padding-top: calc(var(--spacer)*4);
  /* 16px */
}
.pl-4{
  padding-left: calc(var(--spacer)*4);
  /* 16px */
}
.pr-4{
  padding-right: calc(var(--spacer)*4);
  /* 16px */
}
.pb-4{
  padding-bottom: calc(var(--spacer)*4);
  /* 16px */
}
.pt-24{
  padding-top: calc(var(--spacer)*24);;
}
.pb-24{
  padding-bottom: calc(var(--spacer)*24);;
}
.slogan{
  width: 636px;
  font-size: 4rem;
}
.name{
  font-size: 8rem;
  color: var(--color);
  align-self: flex-end;
}
.contact:hover{
  background-color: var(--color);
}
.text-style{
  font-size: 1.5rem;
}
.btn-style{
  width: 185px;
  font-size: 1rem;
  border-radius: 32px;
  background-color: #fff;
  margin-left: auto;
}
.title{
  font-size: 4rem;
}
.intro-text{
  width: 526px;
  font-size: 1.5rem;
}
.card{
  width: 636px;
  flex-wrap: wrap; 
}
.card li{
  width: calc(50% - 12px);
  border:1px solid #E3E3E3;
}
.card-num,.card-title{
  font-size: 1.25em;
}
.about-text{
  width: 526px;
}
.about-description{
  font-size: 1.5rem;
}
.social-icon{
  object-fit: cover;
  border-radius: 40px;
  width: 162px;
  height: 162px;
}
.social-icon:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
  border-radius: 40px;
}
.project{
  width: 746px;
  margin-left: auto;
}
.project-text {
  width: 636px;
}
.more{
  margin-left: 0;
  background-color: var(--bg-color);
}
.more:hover{
  background-color: var(--color);
}
.footer{
  text-align: center;
}
/* f/16/20/64/128
lh/24/30/36/96/192
fw400
m 4/72/36 /24/20/76/32/16/28/
/*p/72/160/16/40/12/24/96*/
/* 
mr-1
mr-9
mr-6
mr-5
mr-8
mr-4
mr-7

*/